/* CLASS */

.text-center {
    text-align: center;
}

.white {
    color: white;
}

.pink {
    color: #edc3c5;
}

.aquagreen {
    color: #00c2db;
}

.darkGrey {
    color: #353535;
}

.bg-darkGrey {
    background-color: #353535;
}

.bg-aquagreen {
    background-color: #00c2db;
}

.bg-pink {
    background-color: #edc3c5;
}

.bg-white {
    background-color: white;
}

@font-face {
    font-family: "DancingScript";
    src: url("/assets/fonts/static/DancingScript-Regular.ttf") format("woff2"), url("/assets/fonts/static/DancingScript-Bold.ttf") format("woff");
}

@font-face {
    font-family: "Indie_Flower";
    src: url("/assets/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "YanoneKaffeesatz";
    src: url("/assets/fonts/static/YanoneKaffeesatz-Medium.ttf");
}

@font-face {
    font-family: "PatrickHand-Regular";
    src: url("/assets/fonts/PatrickHand-Regular.ttf");
}

.font-ds {
    font-family: "DancingScript";
}

.font-yk {
    font-family: "YanoneKaffeesatz";
}

.font-ph-r {
    font-family: "PatrickHand-Regular";
}

.font-if {
    font-family: "Indie_Flower";
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}


/***************************************/


/* HEADER */


/***************************************/

.navbar-brand img {
    width: 80%;
    height: auto;
}

.navbar-light .navbar-toggler {
    border-color: #edc3c5!important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237,195,197)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(237, 195, 197) !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: white!important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #00c2cb!important;
}

header .nav-link:hover {
    border-bottom: solid 1px #edc3c5;
}

header .nav-link {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}


/***************************************/


/* HOME */


/***************************************/

.home {
    background-image: url(../../assets/pictures/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.picture img {
    width: 100%;
    border-radius: 50px;
}

.text-presentation {
    font-weight: bold;
    font-size: 24px;
}


/***************************************/


/* CONTACT */


/**************************************/

.phone,
.mail {
    width: 20px;
}

.phoneNumber {
    align-self: center;
}

.phoneNumber:hover {
    color: unset;
}

.mailto:hover {
    color: #00c2cb;
}


/***************************************/


/* ABOUT ME */


/***************************************/

.card-hardSkills,
.card-hardSkills-mySql,
.card-hardSkills-php,
.card-hardSkills-js,
.card-hardSkills-html {
    box-shadow: 3px 3px #00c2db;
}

.aboutMeText {
    padding: 20px;
    text-align: justify;
    font-size: 21px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
}


/***************************************/


/* SKILLS */


/***************************************/

.hardSkillsTitle,
.softSkillsTitle {
    font-style: oblique;
    font-size: 40px;
}

.card-header {
    border-radius: 50%;
    font-weight: bold;
}

.xp,
.softSkills,
.hardSkills {
    margin-bottom: 20px;
}


/***************************************/


/* PROJECTS */


/***************************************/

.card-project {
    margin-bottom: 30px;
}

.card-project .card-header {
    border: 3px solid #00c2db!important;
    height: 80px;
}

.card-header-project {
    font-size: 20px;
}

.technos-img {
    width: 30px;
}

.technos-img-php,
.technos-img-mySql {
    width: 50px;
}

.btn-project {
    background-color: #353535!important;
    color: white!important;
}

.ul-specificSkills {
    width: 90%;
    text-align: justify;
}

.card-project {
    position: relative;
    width: 100%;
}

.qr-code-project,
.qr-code-project-img {
    visibility: hidden;
    display: none;
}

.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
}

.portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 80%;
    background-color: rgba(0, 194, 219, 0.52);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2,
.portfolio-item .caption .caption-content .h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
}

.img-fluid {
    width: 80%;
    margin: auto;
}

.overlay {
    right: 0;
}


/***************************************/


/* SCROLL */


/**************************************/

#scrollToTop {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 14px;
    right: 6px;
}

#scrollToTop img {
    width: 25px;
}


/***************************************/


/* FOOTER */


/***************************************/

.logo-link a:hover {
    color: #00c2cb;
}

.github,
.linkedin {
    width: 20px;
}

.qr-code-rs,
.qr-code-github-img,
.qr-code-linkedin-img {
    visibility: hidden;
    display: none;
}


/***************************************/


/** OVERLAY **/


/***************************************/

.overlay {
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-color: #00c2db;
    width: 100%;
    bottom: 0;
    height: 330px;
}

.card-project:hover .overlay {
    opacity: 1;
}

.overlayBottom {
    width: 100%;
    height: 0;
    bottom: 0;
}

.card-project:hover .overlayBottom {
    height: 100%;
    width: 100%;
    right: 0px;
}